@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    background-color: #F2F1E8;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Sembunyikan scrollbar tapi tetap bisa scroll */
  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge lama */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}